/* ======== reviews ======== */
.reviews {
  padding-bottom: 40px;
  text-align: center;
}

/* ---------- Заголовок секції ---------- */
.reviews-header {
  margin-bottom: 40px;
  text-align: center;
}

.reviews-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  color: #fbfbfb;

  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
}

.reviews-description {
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
}

/* ---------- ПЕРЕЛІК ВІДГУКІВ ---------- */

.reviews-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

/* ---------- КАРТОЧКА ВІДГУКУ ---------- */
.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 392px;
  height: 282px;
  padding: 32px 36px;
  border-radius: 24px;
  background-color: #fbfbfb;
}

/* ----------  Фото користувача ----------  */

.reviews-avatar {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

/* ---------- Контейнер із текстом ----------*/
*/ .reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  width: 320px;
  height: 138px;
  gap: 8px;
}

/* ---------- Ім'я користувача ----------*/
.reviews-author {
  color: #040306;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.02em;
}

/* ----------Текст відгуку ----------*/

.reviews-text {
  color: rgba(4, 3, 6, 0.4);
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
  letter-spacing: -0.02em;
}

/* ======== АДАПТИВНІСТЬ ======== */

/* ---------- Мобільні пристрої (до 768px) ---------- */

@media only screen and (max-width: 767px) {
  .reviews-list li:nth-last-child(-n + 2) {
    display: none;
  }
}

/* ---------- ПланиШЕТИ (768px - 1279px) ---------- */

@media screen and (min-width: 768px) {
  .reviews {
    padding: 75px 0;
  }

  .reviews-title {
    font-size: 48px;
    max-width: 704px;
  }

  .reviews-description {
    font-size: 14px;
    max-width: 571px;
  }

  .reviews-list {
    gap: 32px;
  }

  .reviews-item {
    max-width: 335px;
  }
}

/* Планишти (768px - 1279px), ховаємо один відгук */

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .reviews-list li:last-child {
    display: none;
  }
}

/* Десктоп (1280px+) */

@media screen and (min-width: 1280px) {
  .reviews-title {
    max-width: 854px;
  }

  .reviews-list {
    gap: 26px;
  }
}

/* Великі екрани (1440px+) */

@media screen and (min-width: 1440px) {
  .reviews-item {
    max-width: 376px;
    padding: 32px 28px;
  }
}
