<section class="rent-section" id="rent">
  <div class="container">
    <div class="rent-container">
      <form class="rent-form">
        <h2 class="rent-title">Rent a yacht now</h2>
        <div class="rent-inputs">
          <input
            type="text"
            class="rent-input-wrapper"
            placeholder="Full Name"
          />
          <input
            type="email"
            class="rent-input-wrapper"
            placeholder="Email"
            required
            pattern=" ([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          />
          <input
            type="tel"
            class="rent-input-wrapper"
            placeholder="Phone number"
            required
            pattern="^\+\d{2}-\d{3}-\d{3}-\d{2}-\d{2}$"
          />
          <textarea
            class="rent-text-area rent-input-wrapper"
            placeholder="Comment"
          ></textarea>
        </div>
        <button type="submit" class="rent-button">Send</button>
      </form>

      <picture>
        <source
          srcset="./img/rent/rent-desk.jpg 1x, ./img/rent/rent-desk@2x.jpg 2x"
          media="(min-width:1280px)"
        />
        <source
          srcset="./img/rent/rent-tab.jpg 1x, ./img/rent/rent-tab@2x.jpg 2x"
          media="(min-width:768px)"
        />

        <source
          srcset="./img/rent/rent-mob.jpg 1x, ./img/rent/rent-mob@2x.jpg 2x"
          media="(max-width:767px)"
        />
        <img
          class="rent-img"
          src="./img/rent/rent-mob.jpg"
          alt="A huge white Jaht"
        />
      </picture>
    </div>
  </div>
</section>
