<section class="advantages">
  <div class="container box-advant">
    <h2 class="visually-hidden">advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text big">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text big">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>

    <picture>
      <source
        srcset="
          ./img/advant/advant-desk.jpg    1x,
          ./img/advant/advant-desk@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />

      <source
        srcset="
          ./img/advant/advant-tabl.jpg    1x,
          ./img/advant/advant-tabl@2x.jpg 2x
        "
        media="(min-width: 768px)"
      />

      <source
        srcset="
          ./img/advant/advant-mob.jpg    1x,
          ./img/advant/advant-mob@2x.jpg 2x
        "
        media="(max-width: 767px)"
      />
      <img
        class="advan-img"
        src="./img/advant/advant-mob.jpg"
        alt="A huge white Jaht inside"
        width="335px"
      />
    </picture>
  </div>
</section>
