<section class="advantages">
  <div class="container box-advant">
    <h2 class="visually-hidden">advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text">
          Swimming and water sports: try your hand at water skiing
        </p>
      </li>
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text big">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-list-item">
        <div class="line"></div>
        <p class="advantages-text big">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>

    <picture>
      <source
        srcset="../img/advant/advant-desk.jpg 432w
         ../img/advant/advant-desk2@x.jpg 864w
        "
        sizes="(min-width:1280px) 432px"
      />
      <source
        srcset="
          ../img/advant/advant-desk.jpg    704w,
          ../img/advant/advant-des@2x.jpg 1708w
        "
        sizes="(min-width:768px) 704px"
      />

      <source
        srcset="
          ../img/advant/advant-mob.jpg    335w,
          ../img/advant/advant-mob@2x.jpg 670w
        "
        sizes="(min-width:768px) 335px"
      />
      <img
        class="rent-img"
        src="../img/advant/advant-mob.jpg"
        alt="A huge white Jaht inside"
      />
    </picture>
  </div>
</section>
