<footer class="footer">
  <div class="footer container">
    <div class="footer-title">
      <div class="main-footer">
        <a class="logo-footer" href="./index.html">yachtjet</a>

        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a href="#about" class="footer-menu-nav-link">ABOUT</a>
          </li>
          <li class="footer-nav-item">
            <a href="#yachts" class="footer-menu-nav-link">YACHTS</a>
          </li>
          <li class="footer-nav-item">
            <a href="#reviews" class="footer-menu-nav-link">REWIEWS</a>
          </li>
        </ul>

        <ul class="icon-menu-footer">
          <li class="icon-social-footer">
            <a
              aria-label="Instagram"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              class="link-social-footer"
            >
              <svg class="icon-link" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="icon-social-footer">
            <a
              aria-label="Youtube"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              class="link-social-footer"
            >
              <svg class="icon-link" width="24" height="24">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
          <li class="icon-social-footer">
            <a
              aria-label="Facebook"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
              class="link-social-footer"
            >
              <svg class="icon-link" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <p class="footer-text-title">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>

      <p class="footer-text">
        2025. Yacht Adventures<a href="" class="footer-privacy"
          >Privacy police</a
        >
      </p>
    </div>
  </div>
</footer>
