<footer class="footer">
    <div class="footer-title container">
        <div class="main-footer">
            <a class="logo-footer" href="./index.html">yachtjet</a>
            <div class="footer-menu">
                <ul class="footer-menu-title">
                    <li class="footer-menu-icon">ABOUT</li>
                    <li class="footer-menu-icon">YACHTS</li>
                    <li class="footer-menu-icon">REWIEWS</li>
                </ul>
            </div>
        </div>
        <div class="social-footer">
            <ul class="icon-menu-footer">
                <li class="icon-social-footer">
                    <a class="link-social-footer">
                        <svg class="icon-link" width="24" height="24">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="icon-social-footer">
                    <a class="link-social-footer">
                        <svg class="icon-link" width="24" height="24">
                            <use href="./img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="icon-social-footer">
                    <a class="link-social-footer">
                        <svg class="icon-link" width="24" height="24">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer-text-title">No matter which yacht you choose, our experienced crew will ensure that your journey is smooth and enjoyable.</p>
        <div class="footer-yacht-adventures">
            <p class="footer-text">2023. Yacht Adventures<span class="footer-privacy">Privacy police</span></p>
        </div>
    </div>
</footer>
