<header class="header-page">
  <div class="header container">
    <div class="heder-container">
      <a class="logo header-logo" href="#">yachtjet</a>
      <nav class="nav-header">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#yachts">Yachts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>

      <ul class="header-social">
        <li class="header-social-icon">
          <a
            aria-label="Instagram"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            class="header-list-icon-link"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-icon">
          <a
            aria-label="Youtube"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            class="header-list-icon-link"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-icon">
          <a
            aria-label="Facebook"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            class="header-list-icon-link"
          >
            <svg class="header-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>

      <button
        aria-label="open menu button"
        class="burger-btn"
        type="button"
        data-menu-open
      >
        <svg class="burger-icon" width="28" height="28">
          <use href="/img/icons.svg#icon-burger"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
