<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Explore the High
        <span class="hero-title-span">Seas with Our Luxury</span> Yacht Rentals
      </h1>
      <div class="hero__text">
        <p>
          Experience the freedom and luxury of yachting on the open seas. Choose
          from our top-of-the-line yachts and embark on an unforgettable journey
          surrounded by breathtaking views and state-of-the-art amenities.
        </p>
      </div>
      <a class="hero__btn" href="">Yacht rental</a>
    </div>
  </div>
</section>
