<div class="mobile-menu">
  <div class="mobile-menu-container">
    <nav class="mobile-nav">
      <ul class="mobile-nav-list">
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-link" href="#">About</a>
        </li>
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-link" href="#">Yachts</a>
        </li>
        <li class="mobile-nav-list-item">
          <a class="mobile-nav-link" href="#">Reviews</a>
        </li>
      </ul>
    </nav>

    <ul class="mobile-social-list">
      <li class="mobile-social-list-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <svg class="menu-social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg class="menu-social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="mobile-social-list-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <svg class="menu-social-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
