<section class="our-yachts-section" id="yachts">
  <div class="container">
    <h2 class="our-yachts-section-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list">
      <li class="yacht-list-li">
        <picture class="yacht-picture">
          <source
            srcset="
              /img/webp/section-4-our-yachts/arrow-1280.webp   1x,
              img/webp/section-4-our-yachts/arrow-1280@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              /img/section-4-our-yachts/desk-1280/arrow-1280.jpg   1x,
              img/section-4-our-yachts/desk-1280/arrow-1280@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/webp/section-4-our-yachts/arrow-tab.webp    1x,
              img/webp/section-4-our-yachts/arrow-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              img/section-4-our-yachts/tab/arrow-tab.jpg    1x,
              img/section-4-our-yachts/tab/arrow-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              img/webp/section-4-our-yachts/arrow-mob.webp    1x,
              img/webp/section-4-our-yachts/arrow-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <source
            srcset="
              img/section-4-our-yachts/mob/arrow-mob.jpg    1x,
              img/section-4-our-yachts/mob/arrow-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="img/section-4-our-yachts/desk-1280/arrow-1280.jpg"
            alt="jacht"
            width="360"
            height="268"
          />
        </picture>
        <div class="yacht-name-div">
          <p class="arrow">Arrow</p>
          <p class="status">LUXURY YAHTS</p>
        </div>
        <ul class="property-tables">
          <li class="property-tables-li">
            <p class="tab-property">LENGTH</p>
            <p class="tab-len">48m(155ft)</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILDER</p>
            <p class="tab-len">Admiral</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILT</p>
            <p class="tab-len">2021</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">GUESTS</p>
            <p class="tab-len">11 in 5 cabins</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">PRICE</p>
            <p class="tab-len">€33,500,000</p>
          </li>
        </ul>
      </li>
      <li class="yacht-list-li">
        <picture class="yacht-picture">
          <source
            srcset="
              img/webp/section-4-our-yachts/benetti-1280.webp    1x,
              img/webp/section-4-our-yachts/benetti-1280@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              img/section-4-our-yachts/desk-1280/benetti-1280.jpg    1x,
              img/section-4-our-yachts/desk-1280/benetti-1280@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              img/webp/section-4-our-yachts/benetti-tab.webp    1x,
              img/webp/section-4-our-yachts/benetti-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <source
            srcset="
              img/section-4-our-yachts/tab/benetti-tab.jpg    1x,
              img/section-4-our-yachts/tab/benetti-tab@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="img/section-4-our-yachts/desk-1280/benetti-1280.jpg"
            alt="jacht"
            width="360"
            height="268"
          />
        </picture>
        <div class="yacht-name-div">
          <p class="arrow">BENETTI OASIS 40M BO122</p>
          <p class="status">LUXURY YAHTS</p>
        </div>
        <ul class="property-tables">
          <li class="property-tables-li">
            <p class="tab-property">LENGTH</p>
            <p class="tab-len">41m (133ft)</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILDER</p>
            <p class="tab-len">Benetti</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILT</p>
            <p class="tab-len">2025</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">GUESTS</p>
            <p class="tab-len">10 in 5 cabins</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">PRICE</p>
            <p class="tab-len">€23,210,000</p>
          </li>
        </ul>
      </li>
      <li class="yacht-list-li">
        <picture class="yacht-picture">
          <source
            srcset="
              img/webp/section-4-our-yachts/belle-anna-1280.webp     1x,
              /img/webp/section-4-our-yachts/belle-anna-1280@2x.webp 2x
            "
            media="(min-width: 1280px)"
            type="image/webp"
          />
          <source
            srcset="
              img/section-4-our-yachts/desk-1280/belle-anna-1280.jpg     1x,
              /img/section-4-our-yachts/desk-1280/belle-anna-1280@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="img/section-4-our-yachts/desk-1280/belle-anna-1280.jpg"
            alt="jacht"
            width="360"
            height="268"
          />
        </picture>
        <div class="yacht-name-div">
          <p class="arrow">BELLE ANNA</p>
          <p class="status">LUXURY YAHTS</p>
        </div>
        <ul class="property-tables">
          <li class="property-tables-li">
            <p class="tab-property">LENGTH</p>
            <p class="tab-len">50m(155ft)</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILDER</p>
            <p class="tab-len">ISA</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">BUILT</p>
            <p class="tab-len">2012</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">GUESTS</p>
            <p class="tab-len">12 in 6 cabins</p>
          </li>
          <li class="property-tables-li">
            <p class="tab-property">PRICE</p>
            <p class="tab-len">€21,000,000</p>
          </li>
        </ul>
      </li>
    </ul>
    <div class="our-yachts-rent-button-container">
      <a href="#rent" class="our-yachts-rent-button">Yacht rental</a>
    </div>
  </div>
</section>
