.footer .container {
  padding-inline: 10px;
}

.footer-title {
  border-radius: 24px 24px 0 0;
  background: #1b414b;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.main-footer {
  display: flex;

  flex-wrap: wrap;

  justify-content: center;
  column-gap: 37px;
  row-gap: 80px;

  margin-bottom: 40px;
}

.logo-footer {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.03em;
  color: #fbfbfb;
}

.footer-nav {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.footer-nav-item {
  display: flex;
}

.footer-menu-nav-link {
  border-radius: 8px;

  padding-block: 15px;

  background: rgba(251, 251, 251, 0.3);

  font-weight: 400;
  font-size: 9px;
  width: 66px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;

  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
    color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-menu-nav-link:hover,
.footer-menu-nav-link:focus {
  background-color: #fbfbfb;
  color: #1b414b;
}
.footer-text-title {
  margin-left: auto;
  margin-right: auto;

  font-weight: 400;
  font-size: 18px;

  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-bottom: 82px;
  max-width: 279px;
}

.footer-yacht-adventures {
  padding-bottom: 20px;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(251, 251, 251, 0.4);
}

.footer-privacy {
  margin-left: 20px;
}
.icon-social-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-social-footer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-footer {
  display: flex;
  justify-content: center;

  margin-bottom: 40px;
}

.icon-menu-footer {
  display: flex;

  gap: 8px;
}
.icon-link {
  fill: #fbfbfb;
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-footer:hover .icon-link,
.link-social-footer:focus .icon-link {
  fill: rgba(251, 251, 251, 0.8);
}

@media screen and (min-width: 768px) {
  .foote r.container {
    padding-inline: 16px;
  }
  .logo-footer {
    font-size: 20px;
  }
  .footer-title {
    padding-top: 50px;
    padding-left: 48px;
    padding-right: 48px;
  }

  .main-footer {
    justify-content: space-between;
    margin-bottom: 96px;
  }

  .footer-menu-nav-link {
    width: 99px;
  }

  .footer-text-title {
    max-width: 600px;

    font-size: 32px;
    margin-bottom: 99px;
  }
  .footer-text {
    font-size: 14px;

    line-height: 1.18;
  }
  .footer-privacy {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .footer .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .footer-title {
    padding-inline: 75px;
  }

  .footer-text-title {
    max-width: 640px;
  }
}
